@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.bg-gradient-sos {
  animation:        moveGradient 10s infinite alternate ease-in-out;
  background-color: hsla(266, 100%, 60%, 0.6);
  background-image: radial-gradient(at 24% 33%, hsla(239, 76%, 79%, 1) 0px, transparent 50%),
                    radial-gradient(at 24% 9%, hsla(271, 63%, 65%, 1) 0px, transparent 50%),
                    radial-gradient(at 64% 7%, hsla(216, 95%, 77%, 1) 0px, transparent 50%),
                    radial-gradient(at 56% 76%, hsla(233, 70%, 67%, 1) 0px, transparent 50%),
                    radial-gradient(at 27% 74%, hsla(256, 80%, 62%, 1) 0px, transparent 50%),
                    radial-gradient(at 71% 73%, hsla(302, 84%, 66%, 1) 0px, transparent 50%),
                    radial-gradient(at 46% 83%, hsla(216, 89%, 73%, 1) 0px, transparent 50%);
  background-size:  200% 200%;
}

/* Para dispositivos móviles */
@media (max-width: 576px) {
  .h-sm-min-dvh {
    height: 100dvh;
  }

  .sm-flex-grow-1 {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .md-w-50 {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .md-w-full {
    width: 100% !important;
  }
}

@media (min-width: 576px) {
  .h-sm-min-dvh {
    height: 100%;
  }
}

.fs-7 {
  font-size: 0.75rem !important;
}

body {
  display:        flex;
  flex-direction: column;
  height:         100dvh;
  margin:         0;
  max-height:     100dvh;
}

main {
  background-color: #ced4da;
  display:          flex;
  flex:             1;
  flex-direction:   column;
  gap:              0.75rem;
  overflow:         auto;
  padding:          1rem;
}

footer {
  align-content:   center;
  box-shadow:      0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display:         flex;
  justify-content: center;
}

.modal.modal-slide-up {
  align-content: end;
  overflow:      hidden;

  .modal-dialog {
    margin:    0;
    transform: translateY(100%);

    .modal-content {
      border-radius: 24px 24px 0 0;

      .modal-body {
        display:    flex;
        min-height: 270px;
        .nav, .tab-content {
          align-self: center;
        }
      }
    }
  }

  &.show .modal-dialog {
    transform: translateY(0);
  }
}

